<label for="link_title_<%= n+1 %>">Link <%= n+1 %> title</label>
<input type="text" id="link_title_<%= n+1 %>"
name="sub[links_attributes][<%= n %>][title]">

<label for="link_url_<%= n+1 %>">Link <%= n+1 %> url</label>
<input type="url" id="link_url_<%= n+1 %>"
name="sub[links_attributes][<%= n %>][url]">

<label for="link_body_<%= n+1 %>">Link <%= n+1 %> body</label>
<textarea id="link_body_<%= n+1 %>"
name="sub[links_attributes][<%= n %>][body]"></textarea>

<input type="hidden" name="sub[links_attributes][<%= n %>][user_id]"
value="<%= current_user.id %>">