<h1>CREATE A SUBREDDLY</h1>
<form action="<%= subs_url %>" method="post">
  <input type="hidden" name="authenticity_token"
  value="<%= form_authenticity_token %>">

  <label for="name">Name this subreddly</label>
  <input type="text" id="name" name="sub[name]" value="<%= @sub.name %>">

  <input type="hidden" name="sub[user_id]" value="<%= current_user.id %>">

  <label>ADD SOME LINKS</label>
  <% 5.times do |n| %>
  <%= render partial: "nested_link", locals: { n: n } %>
  <% end %>

  <input type="submit" value="Create Subreddly">
</form>